/* Variables CSS para el tema claro */
:root {
    --primary-color: #333;
    --secondary-color: #fff;
    --background-color: #f4f4f4;
    --text-color: #333;
    --hover-color: #555;
}

/* Variables CSS para el tema oscuro */
[data-theme="dark"] {
    --primary-color: #fff;
    --secondary-color: #333;
    --background-color: #222;
    --text-color: #fff;
    --hover-color: #ddd;
}

/* Estilos generales que dependen del tema */
body {
    background-color: var(--background-color);
    color: var(--text-color);
    transition:
        background-color 0.3s,
        color 0.3s;
}

header {
    background-color: var(--primary-color);
    color: var(--text-color);
}

aside {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

[data-theme="dark"] #home {
    color: var(--text-color);
}

[data-theme="dark"] .property-item {
    background-color: var(--secondary-color);
    color: var(--secondary-color);
}



#contact-form input,
#contact-form textarea {
    background-color: var(--background-color);
    color: var(--text-color);
    border: 1px solid var(--primary-color);
}

#contact-form button {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

footer {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}
